.allPage {
    background-color: black;
    color: white;
}

.allDetail{
    padding: 30px 0;
    margin-top: 60px;
}

.descripcion, h4{
    margin: 10px;
    margin-bottom: 20px;
}
.descripcion, p {
    margin-bottom: 60px;
}

.all_comments{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image  {
    width: 500px;
    height: 250px;
    float: left;
    margin: 10px;
}

.freeOrPay {
    margin-top:50px
}