.backgroundCart {
    background-image: url('https://cdn.discordapp.com/attachments/986703536811278446/992436854446112898/bg-01.jpg');
    background-color: #151414;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;
    /* overflow-y: scroll; */
    min-height: 100vh;
    width: 100vw;
    justify-content: center;
    position: relative;
    z-index: 1; 
  }

.containerCart{
  width: 100vw;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 10px;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 1rem;
}

.cardCart{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerButtonsCart{
  margin-top:100px;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonCleanCart{
  background-color: #c0a956;
  color: black;
  font-size: 25px;
  border-radius: 10px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.buttonCleanCart:hover{
  transition: 0.8s;
  background-color: black;
  color: #c0a956;
}

.buttonBuyCart{
  background-color: #c0a956;
  color: black;
  font-size: 25px;
  border-radius: 10px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.buttonBuyCart:hover{
  transition: 0.8s;
  background-color: black;
  color: #c0a956;
}

.buttonRemove{
  margin-top: 20px;
  background-color: black;
  color: #c0a956;
  font-size: large;
  padding: 10px;
  border-radius: 9px;
  cursor: pointer;
}
.buttonRemove:hover{
  background-color: #c0a956;
  color: black;
  transition: 0.5s;
}

.CartIsEmpty{
  color: #c0a956;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 12rem;
  display: inline-block;
  padding: 20px;
  font-size: 45px;
  border-radius: 12px;
}

.AddGamesCart{
  color: #c0a956;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 15px;
}


.btnAddToCart{
  background-color: black;
  color: #c0a956;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 8px;
  border: 1px solid;
  border-radius: 4px;
}
.btnAddToCart:hover{
  transition: 0.7s;
  background-color: #c0a956;
  color: black;
}

