.background{
    background-image: radial-gradient(circle at 40.67% -2.89%, #F0E68C 0, #FFD700 16.67%, #FFC72C 33.33%, #FEBE10 50%, #e6ba00 66.67%, #d79e00 83.33%, #cb8300 100%);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.ContainerCarousel{
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    height: 400px;
    width: 1000px;
}

.imagenes{
    height: 500px;
    width: 1000px;
    object-position: center center;
}

.legend{
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 0;
    border-radius: 4px;
    transition: 250ms;
}

/* ------------------------SCROLLBAR------------------------------ */
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #710559 #f4f0f0;
    }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    position:relative;
    }

  *::-webkit-scrollbar-track {
    border-radius: 15px;
    }

  *::-webkit-scrollbar-thumb {
    background-color: #626262;
    border-radius: 15px;
    border: 1px solid #626262;
    }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #919191;
    border-radius: 15px;
    border: 1px solid #919191;
    }
/* ------------------------SCROLLBAR------------------------------ */