.profile {
  background-image: url("https://static.vecteezy.com/system/resources/previews/002/203/641/non_2x/elegant-black-and-gold-background-free-vector.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-family: sans-serif;
}
.User_container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  background: rgba(0, 0, 0, 0.897);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  color: aliceblue;
  margin-top: 10em;
}

.profile_box {
  margin: 30px;
  text-align: left;
  display: flex;
}
.img_profile {
  width: 300px;
  height: 300px;
  float: left;
  margin: 10px;
  border: #c0a956 4px solid;
  object-position: center center;
}
.text_profile {
  float: left;
  font-size: small;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
.wish_list_container {
  border: #c0a956 3px solid;
  border-radius: 8px;
  padding: 8px;
  margin: 50px;
  text-align: left;
}

.cardWishListProfile {
  display: flex;
  background-color: #151414;
  margin: 1em;
  border-radius: 8px;
}

.h3ProfileWishList {
  margin: 8px;
  margin-left: 1em;
}
.h3ProfileWishList:hover {
  color: #c7a94b;
  transition: 0.8s;
}

.image-wishListProfile {
  height: 150px;
  width: 250px;
  margin: 1em;
}

.linkNameProfile{
   color: #fff;
}

.nameAndPriceProfile {
  margin-left: 2rem;
}

.btn_profile {
  background: rgb(4, 177, 181);
  background: linear-gradient(
    285deg,
    rgba(4, 177, 181, 1) 33%,
    rgba(11, 144, 230, 1) 59%
  );
  margin: 10px;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  box-shadow: 0 1px 3px #c7a94b, 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
}
.btn_profile:hover {
  background: rgb(4, 177, 181);
  background: linear-gradient(
    285deg,
    rgb(0, 251, 255) 33%,
    rrgb(0, 153, 255) 59%
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: black;
  background-color: #c7a94b;
}

.btn_profileDeleteWishListProfile {
  background: rgb(4, 177, 181);
  background: linear-gradient(
    285deg,
    rgba(4, 177, 181, 1) 33%,
    rgba(11, 144, 230, 1) 59%
  );
  margin: 10px;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  box-shadow: 0 1px 3px #c7a94b, 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  border-radius: 5px;
}
.btn_profileDeleteWishListProfile:hover {
  background: rgb(4, 177, 181);
  background: linear-gradient(
    285deg,
    rgb(0, 251, 255) 33%,
    rrgb(0, 153, 255) 59%
  );
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: black;
  background-color: #c7a94b;
}

.btn_delete {
  background: #a11616;
  margin: 10px;
  font-size: 15px;
  padding: 5px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  box-shadow: 0 1px 3px #a11616, 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
}

.btn_delete:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-color: #ff0000;
}
