/* carta entera */
.card{
  background-color: #1c1a1a;
  height: 370px;
  width: 300px;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all .3s ease;
}

/* imagen de cada carta */
.card img{
  width: 100%;
  height: 60%;
  object-position: center center;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
}

.onSale {
  margin-top: 0;
  position: absolute;
  top:0;
  width: 100%;
  height: 1.3rem;
  font-size: 15px;
  background-color: rgb(143, 251, 35);
  font-weight: bold;
}

/* container de texto de la carta (nombre y precio) */
.card .ContainerText{
  margin: 0.1rem 0;
  width: 100%;
  height: 40%;
  list-style: none;
  position: absolute;
  bottom: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card li{
  /* margin-top: 0.1rem;
  margin-bottom: 1rem; */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleCard{
  height: 70%;
  
  justify-content: center;
  margin: .5rem;
}

.LastRow{
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card:hover{
  background-color: #1a83ff;
  box-shadow: 0 1rem 1.5rem rgba(0,0,0, 0.5);
  cursor: pointer;
  filter: saturate(1.6);
  transform: scale(1.05);
}

.link, .card h2, .card h4, .card p{
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
}

