/* carta entera */
.card{
  background-color: #1c1a1a;
  height: 370px;
  width: 300px;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all .3s ease;
}

/* imagen de cada carta */
.card .image{
  width: 100%;
  height: 220px;
  border-radius: .5rem;
  margin: 0;
  object-position: center center;
}

/* container de texto de la carta (nombre y precio) */
.textCard{
  list-style: none;
  margin-top: 14.5rem;
  display:flex;
  flex-direction: column;
  align-items:center;
}

.titleCard{
  margin: 1rem 0rem;
  font-size: 20px;
  font-weight: bold;
}

.priceCard{
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: bold;
}

.card:hover{
  background-color: #1a83ff;
  box-shadow: 0 1rem 1.5rem rgba(0,0,0, 0.5);
  cursor: pointer;
  filter: saturate(1.6);
  transform: scale(1.05);
}

.link, .card h2, .card h4, .card p{
  text-decoration: none;
  color: whitesmoke;
  text-align: center;
} 
