.mainfooter{
    color:aliceblue;
    background-color: rgb(0, 0, 0);
    padding-top: 2.5em;
    position:relative;
    /* bottom: 4rem; */
    width: 100%;
    
    /* margin-top: 4rem; */
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1050px;
    margin: 0 auto;
    /* background: red; */
}

.row{

    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 180px;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.col{
  width: 380px;
    display: flex;
    flex-direction: column;
    text-align: left;
   
   /*  margin-left: 60px; */
}
 
.copy{
    text-align:center; 
}
.list{

}

.col-sn{

}