.component_edit_delete_videogame{
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/203/641/non_2x/elegant-black-and-gold-background-free-vector.jpg');
    /* background-color: #151414; */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    position: relative;
    z-index: 1;  
    font-family: "Arial Black", Gadget, sans-serif;
   
}



.containerEditVideogame{

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    background: rgba(0, 0, 0, 0.798);
    min-height: 600px;
    color: aliceblue;
    
    
    
}

.option_edit_delete{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
       
}
.cards_edit_delete{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: #c99f1f 1px solid;
}

.card_edit_delete{
    border: #c7a94b 3px solid;
    width: 300px;
    height: 150px; 
    margin: 15px;
    background: rgba(0, 0, 0, 0.796);   
    color:#e3b014;
}

.input_search_edit_deleted {
    width: 50%;
    border: #ffffff 5px solid;
    padding: 8px;
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);
    background: #c99f1f;
    font-size: 16px;   
}

.input_search_edit_deleted:focus{
    background: #ffbf00;   
    color: #000;
}


.btn_option_deleted_edit{
    width: 250px;
    height: 60px;    
    margin-left: 5px;  
    margin-right: 5px;
    margin-bottom: 10px;
    background: linear-gradient(285deg, rgb(160, 120, 27) 33%, rgb(199, 157, 17) 59%);
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;    
    box-shadow: 0 1px 3px #c7a94b, 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn_option_deleted_edit:hover{
    background: rgb(36,96,208);
    background: linear-gradient(285deg, rgb(0, 89, 255) 6%, rgb(18, 135, 232) 54%);
    width: 255px;
    height: 65px;
    color: #eee;
}
.btn_option_edit{
    width: 70px;
    height: 30px;  
    margin-left: 5px;  
    margin-right: 5px;
    margin-bottom: 10px;
    background: linear-gradient(285deg, rgb(0, 89, 255) 6%, rgb(18, 135, 232) 54%);
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;    
    box-shadow: 0 1px 3px #c7a94b, 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn_option_edit:hover{
    background: rgb(36,96,208);
    background: linear-gradient(285deg, rgb(0, 89, 255) 6%, rgb(18, 135, 232) 54%);
    width: 73px;
    height: 32px;  
    color: #eee;
}
.btn_option_deleted{
    width: 70px;
    height: 30px;      
    margin-left: 5px;  
    margin-right: 5px;
    margin-bottom: 10px;
    background: linear-gradient(285deg, rgba(163,79,58,1) 33%, rgba(246,18,18,1) 74%);
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;    
    box-shadow: 0 1px 3px #c7a94b, 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn_option_deleted:hover{
    background: rgb(237, 24, 24);
    width: 73px;
    height: 32px;  
    color: #eee;
}