.component_users_admin{
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/203/641/non_2x/elegant-black-and-gold-background-free-vector.jpg');
    /* background-color: #151414; */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x:hidden;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    position: relative;
    z-index: 1;  
    font-family: "Arial Black", Gadget, sans-serif;
    color: aliceblue;
}

.containerUsersAdmin{
    background: rgba(0, 0, 0, 0.761);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    min-height: 70%;
}
.tableUsers{  
   width: 90%;
   margin: auto;
   font-size: 12px;

}

.tableUsers,td,th {
    border-collapse: collapse;
    border: 1px solid rgb(236,170,13);
    padding: 10px;
    
}

th {
    background: rgb(236,170,13);
    background: linear-gradient(285deg, rgba(236,170,13,1) 33%, rgba(246,191,18,1) 74%);
   
}
td {
    text-align: left;
   
}

.containerUsersAdmin{
    margin-top: 80px
}

.options_buttons{
    display: flex;
    flex-direction: column;    
}

.btn_opn{
    width: 120px;
    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 3px;
    background: rgb(36,182,144);
    background: linear-gradient(285deg, rgba(36,182,144,1) 0%, rgba(36,137,182,1) 93%);
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;    
    box-shadow: 0 1px 3px #c7a94b, 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.btn_opn:hover{

    background: rgb(36,182,144);
    background: linear-gradient(285deg, rgb(0, 255, 187) 0%, rgrgb(0, 179, 255)3%);
    width: 122px;
    height: 42%;
    cursor: pointer;
}