.container {
    /* background-color: #ffc926; */
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/203/641/non_2x/elegant-black-and-gold-background-free-vector.jpg');
    background-color: #151414;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding-top: 0.2rem;
}

.articulos {
    width: fit-content;
    background-color: #151414;
    border-radius: 8px;
    padding: 1em 6em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.articulos h1{
    text-decoration: none;
    color: white;
}

.articulos h4{
    text-decoration: none;
    color: white;
}


.lanzamientos {
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    /*  align-items: center; */
    /* padding-top: 2rem; */
    gap: 3rem;

}

.noticias {
    width: 90%;
    margin: 0 auto;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

}


.subArticle {
    padding-left: 2rem;
    padding-right: 2rem;

}

.border {
    /* box-shadow: 1px 0px 22px rgba(110,210,244,.64); */
    border-radius: 1rem;
    margin: 0.2rem;
    padding: 0 0.3rem;
    transition: all .3s ease;
    width: fit-content;
    background-color: #151414;
    padding: 1em 6em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: white;
}

.border:hover {
    background-color: #1a83ff;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.5);
    cursor: pointer;
    filter: saturate(1.6);
    transform: scale(1.05);
}

.border h1{
    text-decoration: none;
    color: white;
}

.border h4{
    text-decoration: none;
    color: white;
}

.img {
    border-radius: 2rem;
    margin-top: 1.5rem;
    box-shadow: 1px 0px 22px rgba(77, 78, 78, 0.64);
}

/* .img:hover{
    background-color: #1a83ff;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0, 0.5);
    cursor: pointer;
    filter: saturate(1.6);
    transform: scale(1.05);
  } */


.container .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 15%);
}

.container .label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}


.container .input {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    /* height: 40px; */
    color: #fff;

}



.container .submit {
    border: none;
    outline: none;
    height: 40px;
    background: #53b80f;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
    margin: 4px;
}



/* //////////// ESTILOS PARA EL FORMULARIO DE EDICION DE ARTICULOS///////// */

.containerAll {
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/203/641/non_2x/elegant-black-and-gold-background-free-vector.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height:170vh;
    width: 100vw;

}

.containerFull {

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

.containerForm {
    width: 400px;
    height: 550px;
    background: #000;
    color: #fff;

    transform: translate(0%, 10%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.containerArticle {

    backdrop-filter: blur(2px);
    background-color: #00000062;
    border-radius: 2rem;
    width: 730px;
    height: 700px;
    /*  background: #000; */
    color: #fff;
    top: 50%;
    left: 50%;

    transform: translate(0%, 5%);
    /* box-sizing: border-box; */
    padding: 40px 30px;
}

/* .containerArticle */
.contenido {

    width: 100%;
    height: 200px;
    overflow: auto;
    margin-top: 20px;
    padding: 4px 4px;
    text-align: left;

    /*  width: 100%; */
    /* margin-bottom: 10px; 
    height: 150px;
    margin-bottom: 20px;
    max-width: 100%;
    overflow:hidden; */

    /* max-width: 100%; */

    /* overflow-x: scroll; */

}

.containerForm .select {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(255, 201, 38);
    background: transparent;
    outline: none;
    /* height: 40px; */
    color: rgb(255, 191, 0);

}

.container .label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}


.containerForm .input {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    /* height: 40px; */
    color: #fff;

}

.containerForm .btn {
    border: none;
    outline: none;
    height: 30px;
    background: #e9b406;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    transition: all .3s ease;
}



.btn:hover {
    background-color: rgb(24, 132, 255);
    cursor: pointer;
}

.error {
    color: crimson;
}

.loading {
    background-color: #000;
    height: 1000px;
}



.containerDetail {
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/203/641/non_2x/elegant-black-and-gold-background-free-vector.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100vw;
    justify-content: center;
    position: relative;
    z-index: 1;

}

.btnBack {
    margin-top: 70px;
    width: 100px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    
    background: linear-gradient(285deg, rgb(0, 89, 255) 6%, rgb(18, 135, 232) 54%);
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    box-shadow: 0 1px 3px #c7a94b, 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.blogcontainer {
    background-color: #151414;
    border-radius: 8px;
    padding: 1em ;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    color: white;
}

.contContent {
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}

.blogcontainer h1{
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
}