.videogame_created_container{
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/203/641/non_2x/elegant-black-and-gold-background-free-vector.jpg');
background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x:hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  position: relative;
  z-index: 1;
font-family: sans-serif;
}
.error{
    color:  red;
}
.image_form{
    width: 70px;   
    max-height: 120px;
  
}
.screenShots_Image{
    display: flex;
    flex-direction: column 4;
    justify-content: center;
}

.input_text{
    width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    border: 3px solid rgba(163,163,163,0.4);

}
.input_text:focus{
    border: 3px solid rgb(41, 210, 22);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
}
.input_text_error{
    border: 3px solid rgb(255, 0, 0);
    outline: none;
    box-shadow: 3px 0px 30px rgba(163,163,163,0.4);
    width: 400px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    height: 25px;
    line-height: 25px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
  
}