.first-row{
  margin-bottom: 17rem;
}

.containercard {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 10px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0;
}

.background{
  display: flex;
  flex-direction: column;
}

