.containerReSendMail{
  background-image: url(https://cdn.discordapp.com/attachments/986703536811278446/992433619224236072/henry_fonfo-01-01.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  overflow-x:hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-family: "Arial Black", Gadget, sans-serif;
  color: white;
}

.containerTextReSend{
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(to right, rgb(245, 230, 145), rgb(181, 166, 83));
    background: linear-gradient(to right, rgb(245, 230, 145), rgb(181, 166, 83));
    width: fit-content;
    margin-left: 45vw;
    margin-top: 7rem;
    border-radius: 10px;
    padding: 1.5rem;
    color: black;
}

.btnResendMail{
    padding: 0.2rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
}
.btnResendMail:hover{
    background: -webkit-linear-gradient(to right, rgb(245, 230, 145), rgb(181, 166, 83));
    background: linear-gradient(to right, rgb(245, 230, 145), rgb(181, 166, 83));
    color: black;
    transition: 0.5s;
    font-weight: bold;
    cursor: pointer;
}